  <div class="booyah-box col-10 offset-1">  
    <h1>Welcome to my Awesome Quiz 1 Web App</h1><br />
    <i>My name is Jacques Wooldridge and I'm learning to code with UT Austin Online Boot Camp and this page was built for Quiz #1.</i><br /><br />    
    <p>This would be a static home page in a Rails application.</p><br />     
  </div>       